/* Hero */

:root {
  --black: #141414;
  --gray: #656565;
  --blue: #406fdb;
  --white: #ffffff;
}

.hero-container {
  max-width: 1440px;
  padding: 15px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  overflow-x: hidden;
}

.hero-img {
  width: 100%;
}

.hero-container--box {
  max-width: 745px;
  color: var(--black);
  margin: 0 auto;
  text-align: center;
  z-index: 2;
  margin-top: -230px;
}

.hero-container--img {
  margin-bottom: 48px;
}

.hero-container--desc {
  max-width: 671px;
  margin: 0 auto 37px;
  font-size: 16px;
  line-height: 24px;
  color: var(--gray);
}

.hero-container--link {
  font-weight: 600;
  line-height: 24px;
  font-size: 16px;
  color: #406fdb;
  margin-bottom: 50px;
  display: inline-block;
}

.images {
  position: absolute;
  max-width: 1410px;
  width: 100%;
  height: 689px;
  background-image: url(/img/heroimg.png);
  background-repeat: no-repeat;
  background-position: centers;
  top: 0;
}

/* Features */

.features-section {
  padding-top: 158px;
}

.features-box {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.column-box {
  max-width: 455px;
  width: 100%;
  height: 100%;
  position: relative;
}

.column-box--desc {
  color: var(--white);
  position: absolute;
  max-width: 355px;
  bottom: 81px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.features-desc {
  max-width: 671px;
  font-size: 16px;
  line-height: 24px;
  color: var(--white);
}

.rows-layout {
  max-width: 649px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.row-box {
  position: relative;
  width: 100%;
}

.background-image {
  display: block;
  width: 100%;
}

.rows-layout .background-image {
  height: 300px;
}

.row-box--desc {
  margin-left: 30px;
  width: calc(100% - 30px);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row-box--desc .heading-quaternary {
  max-width: 255px;
}

.row-box--img {
  width: 165px;
}

/* Video heading section */

.video-heading--section {
  padding-top: 242px;
}

.video-heading--section .container {
  max-width: 1165px;
}

.video-heading {
  max-width: 873px;
  margin-bottom: 85px;
}

.video-container {
  position: relative;
  max-width: 1165px;
  width: 100%;
  margin: 0 auto;
  height: 638px;
}

.video-container video {
  object-fit: cover;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10;
  transition: opacity 0.4s ease;
}

.video-shadow {
  position: absolute;
  top: 5%;
  left: 2%;
  width: 95%;
  height: 95%;
  background: linear-gradient(
    90deg,
    #fe4e02 0%,
    #a12728 26%,
    #fe0029 53%,
    #029bea 76%,
    #02b0e5 100%
  );
  filter: blur(60px);
  border-radius: 42px;
  z-index: 9;
}

/* Product desc */

.product-desc--section {
  padding: 756px 0 120px;
  margin-top: -445px;
  background-color: var(--black);
}

.product-desc--section .container {
  max-width: 1232px;
}

.product-row {
  margin-bottom: 12px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.product-row--desc {
  flex: 1 1 602px;
  max-width: 602px;
  padding: 26px 15px 0;
}

.product-desc {
  max-width: 583px;
  font-size: 16px;
  line-height: 24px;
  color: #f1f1f1;
}

.download-link {
  font-weight: 600;
  line-height: 24px;
  font-size: 16px;
  color: #406fdb;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.product-row--img {
  flex: 1 1 552px;
  max-width: 552px;
  width: 100%;
}

.product-row--img img {
  width: 100%;
}

.product-row.rr {
  flex-direction: row-reverse;
  margin-bottom: 155px;
}

.product-row.rr .product-row--desc {
  padding-top: 157px;
}

.product-desc-md {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  color: var(--white);
}

.product-row--img.rr {
  flex: 1 1 583px;
}

.hidden-animations .product-row--desc {
  padding-top: 139px;
  margin: 0 auto;
}

.hidden-animations {
  position: relative;
  width: 100%;
  height: 807px;
  overflow: hidden;
}

.tv4k {
  display: block;
  margin: 0 auto 30px;
}

.img-right {
  position: absolute;
  top: 0;
  right: -414px;
}

.img-left {
  position: absolute;
  top: 0;
  left: -414px;
}

.landscape-tablet{
  display: none;
}

.canals-section {
  padding: 107px 0 309px;
  background-color: #f5f5f5;
}

.flex-layout {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.layout-text {
  display: flex;
  width: 50%;
}

.layout-text .product-row--desc.left {
  width: 100%;
  padding-top: 138px;
  margin-left: auto;
}

.layout-text .product-row--desc.right {
  width: 100%;
  padding-top: 138px;
  margin-right: auto;
}

.layout-image {
  width: 50%;
  display: flex;
  position: relative;
}

.layout-image .image-right {
  margin-left: auto;
  width: 100%;
  max-width: fit-content;
}

.layout-image .image-left {
  margin-right: auto;
  width: 100%;
  max-width: fit-content;
}

.product-desc.small {
  max-width: 262px;
}

.canalp-logo {
  margin-bottom: 31px;
}

.account-desc {
  max-width: 746px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 48px;
}

.account-desc .product-desc {
  max-width: unset;
}

.accounts-layout {
  max-width: 958px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 30px;
}

.account-box {
  height: 303px;
  width: 217px;
  position: relative;
}

.account-box-text {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
}

.account-pfp {
  margin-bottom: 19px;
  position: relative;
}

.rect {
  top: 39px;
  position: absolute;
  width: 217px;
  height: 217px;
  display: block;
  border-radius: 10px;
}

.rect.green {
  background: #558e4b;
}

.col-green {
  color: #558e4b;
}

.rect.pink {
  background-color: #f178b6;
}

.col-pink {
  color: #f178b6;
}

.rect.blue {
  background-color: #6e96e8;
}

.col-blue {
  color: #6e96e8;
}

.rect.orange {
  background-color: #f1996f;
}

.col-orange {
  color: #f1996f;
}

.section-app {
  background-color: #141414;
  padding: 140px 0 96px;
  overflow: hidden;
}

.layout-image .image-right-gif {
  border: 8px solid #e6e6e6;
  position: relative;
  width: 100%;
  max-width: fit-content;
  height: auto;
  right: 0;
}

.layout-image .image-left-gif {
  border: 8px solid #e6e6e6;
  position: relative;
  width: 100%;
  max-width: 720px;
  height: auto;
  left: 0;
}

.layout-text .scootersoul.right {
  padding-top: 67px;
}

.mb-106 {
  margin-bottom: 106px;
}

.mb-255 {
  margin-bottom: 255px;
}

.mb-253 {
  margin-bottom: 253px;
}

.section-intro {
  padding: 96px 0;
  background-color: #141414;
}

.meevu-intro {
  max-width: 1134px;
  width: 100%;
  display: flex;
  gap: 30px;
  margin: 0 auto;
}

.meevu-video-container {
  display: flex;
  flex-direction: column;
  max-width: 746px;
  width: 100%;
  flex: 1 1 746px;
}

.video-intro {
  width: 100%;
  height: 420px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #558e4b;
  margin-bottom: 27px;
}

.meevu-intro-line {
  height: 1px;
  width: 100%;
  background-color: var(--gray);
}

.intro-desc {
  position: relative;
  padding-left: 16px;
}

.intro-desc-heading {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
}

.intro-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.4px;
  color: var(--gray);
}

.intro-desc::before {
  content: "";
  position: absolute;
  left: 0;
  border-right: 3px solid #f9f9f9;
  background-color: #141414;
  height: 76px;
  width: 0;
  transition: 0.5s width;
}

.intro-desc.swap::before {
  width: 100%;
}

.buttons-column {
  width: 358px;
  height: 100%;
  flex: 1 1 358px;
}

.buttons-heading {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 6px;
}

.buttons-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.4px;
  padding: 8px 8px 0 0;
}

.video-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 12px;
  margin-bottom: 8px;
  border-radius: 4px;
  font-size: 14px;
  border: 1px solid #656565;
  color: #fff;
}

.video-button:hover{
  cursor: pointer;
}

.video-button svg {
  fill: #f9f9f9;
}

.video-button:hover {
  border: 1px solid #e6e6e6;
  background: #3b3b3b;
}

.video-button .check {
  display: none;
  fill: #656565;
}

.video-button.played {
  border: 1px solid #656565;
  color: #656565;
}

.video-button.played .check {
  display: block;
}

.video-button.played .play {
  display: none;
}

.video-button.active {
  background-color: #f9f9f9;
  color: #141414;
}

.video-button.active .check {
  display: block;
  fill: #141414;
}

.video-button.active .play {
  display: none;
}

/* Panels section */

.section-panels {
  background: #f9f9f9;
  padding: 133px 0 0;
  border-bottom: 1px solid #656565;
  overflow: hidden;
}

.panels-desc {
  max-width: 941px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 144px;
  text-align: center;
}

.panels-desc .product-desc {
  max-width: unset;
}

.sw4k {
  padding: 137px 15px 165px;
  position: relative;
}

.swiatlowod {
  width: 100%;
  max-width: fit-content;
  margin-bottom: 99px;
}

.sw4k .product-desc-md {
  max-width: 876px;
}

.sw4k .container-sm {
  z-index: 10;
  position: relative;
}

.bg-spirals {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.moving-panels {
  background-color: #f9f9f9;
  position: relative;
  height: 518px;
  /* overflow-x: hidden; */
}

.moving-panel {
  position: relative;
}

.moving-panel::before {
  content: "";
  width: 100%;
  height: 95%;
  position: absolute;
  top: -7px;
  z-index: -1;
  border-radius: 42.071px;
  background: linear-gradient(
    90deg,
    #fe4e02 0%,
    #a12728 26.56%,
    #fe0029 53.65%,
    #029bea 76.04%,
    #02b0e5 100%
  );
  filter: blur(30.181034088134766px);
}

.moving-left {
  position: absolute;
  z-index: 10;
  left: -479px;
}

.moving-right {
  top: 318px;
  position: absolute;
  z-index: 10;
  left: -563px;
}

/* .img-border{
    border: 8px solid #E6E6E6;
} */

.section-cta {
  position: relative;
  z-index: 10;
  padding: 168px 0;
  background-color: #f9f9f9;
}

.section-cta .panels-desc {
  margin-bottom: 168px;
}

.form {
  max-width: 1134px;
  width: 100%;
  margin: 0 auto 42px;
  padding: 15px;
}

.map-container {
  max-width: 940px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding-top: 239px;
  display: flex;
  justify-content: end;
  margin-bottom: 46px;
}

.map-position {
  position: absolute;
  top: 0;
  left: 0;
}

.map-desc {
  padding: 51px 0 5px 36px;
  max-width: 385px;
  width: 100%;
}

.map-desc .product-desc-md {
  margin-bottom: 6px;
}

.map-box {
  width: 552px;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #e6e6e6;
  position: relative;
}

.wobbly-arrow {
  position: absolute;
  right: 16px;
  top: 32px;
}

.form-box {
  position: relative;
  z-index: 10;
  width: 552px;
  padding: 73px 67px;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #e6e6e6;
}

.blue-circle {
  width: 41px;
  height: 41px;
  padding: 3px;
  background-color: #406fdb;
  border-radius: 200px;
}

.form-heading {
  display: flex;
  align-items: center;
  gap: 22px;
  margin-bottom: 31px;
}

.text-input {
  padding: 12px 16px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #141414;
  background: #fff;
  font-size: 16px;
  font-family: Montserrat;
}

.text-input::placeholder {
  color: #656565;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.white-line {
  height: 1px;
  width: 100%;
  background-color: #e6e6e6;
}

.form-writing {
  color: #656565;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.form-writing span {
  font-weight: 600;
}

.blue-button {
  width: 100%;
  background-color: #406fdb;
  color: #fff;
  fill: #fff;
  padding: 12px 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  font-family: Montserrat;
  gap: 8px;
}

.form-box .product-desc {
  display: inline-block;
}

.month-btn {
  width: 456px;
  height: 65px;
  border-radius: 10px;
  border: 1px solid #a1a1a1;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.month-btn:hover{
  cursor: pointer;
}

.month-btn-container {
  margin: 0 auto;
  max-width: 940px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 109px;
  gap: 20px;
}

.month-btn-dot {
  width: 24px;
  height: 24px;
  border-radius: 5000px;
  border: 1px solid #cdcdcd;
  background: #fff;
  padding: 5px;
}

.month-btn.chosen {
  border-radius: 10px;
  border: 2px solid #406fdb;
}

.month-btn.chosen .product-desc {
  color: #142c7e;
}

.month-btn.chosen .month-btn-dot::before {
  content: "";
  width: 12px;
  height: 12px;
  background-color: #406fdb;
  border-radius: 200px;
  display: inline-block;
}

.container-offer {
  max-width: 1134px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 120px;
  gap: 5px;
}

.offer-item {
  max-width: 358px;
  width: 100%;
  padding: 20px 30px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #e6e6e6;
  background: #fff;
  backdrop-filter: blur(5px);
  transition: 0.5s margin;
  margin-top: 50px;
}

.offer-item.active {
  margin-top: unset;
}

.offer-name {
  display: inline-block;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  width: 100%;
  background-color: #f1f1f1;
  color: #141414;
  margin-bottom: 15px;
  border-radius: 10px;
}

.offer-price {
  font-size: 32px;
  font-weight: 700;
  line-height: 37px;
  text-align: center;
  color: #406fdb;
  margin-bottom: 4px;
}

.offer-price span {
  font-size: 16px;
}

.offer-price span.final-price {
  font-size: 32px;
}

.offer-discount {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #656565;
}

.canals-number {
  color: #141414;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 5px;
}

.canals-list {
  color: #406fdb;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}

.offer-features {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 5px;
}

.offer-features.mb-15 {
  margin-bottom: 15px;
}

.form-writing.fw-600 {
  font-weight: 600;
}

.bundle-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 10px;
  max-width: 1134px;
  width: 100%;
  margin-bottom: 42px;
}

.bundle-box {
  width: 100%;
  padding: 40px 30px;
  display: flex;
  gap: 30px;
  border-radius: 10px;
  border: 1px solid #e6e6e6;
  background: #fff;
}

.bundle-desc {
  max-width: 370px;
}

.product-desc-md span {
  font-size: 16px;
}

.bundle-btn {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.price-summary {
  max-width: 1134px;
  padding: 30px;
  width: 100%;
  border-radius: 10px;
  border: 2px solid #c6ddff;
  background: #e2efff;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.overall-price {
  width: 100%;
  max-width: 270px;
  text-align: left;
}

.overall-price .offer-price {
  text-align: left;
  margin-bottom: 15px;
}

.overall-price .canals-number {
  text-align: left;
  margin-bottom: 0;
}

.summary-desc {
  max-width: 615px;
  width: 100%;
}

.summary-desc .canals-number {
  text-align: left;
}

.bundle-name {
  font-weight: 600;
}

.summary-cols {
  display: flex;
  gap: 72px;
  align-items: start;
}

.summary-col {
  display: flex;
  gap: 50px;
}

.summary-col .canals-number {
  margin-bottom: 0;
}

.bundle-list {
  display: block;
}

.bundle-list li {
  list-style-type: disc;
  display: list-item;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #3b3b3b;
}

.layout-image.right {
  justify-content: end;
}

.section-accordion {
  background-color: #f9f9f9;
  margin-bottom: 122px;
}

.accordion-container {
  max-width: 940px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 91px 97px 90px;
  border-radius: 10px;
  background: #fff;
}

.heading-tertiary {
  font-size: 40px;
  font-size: 40px;
  font-weight: 700;
  line-height: 44.5px;
  color: #29333d;
}

.accordion-list {
  display: flex;
  flex-direction: column;
}

.accordion-heading {
  display: flex;
  padding: 12px 12px 27px 0;
  border-bottom: 1px solid #a1a9b4;
  margin-bottom: 15px;
}

.accordion-heading:hover{
  cursor: pointer;
}

.accordion-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.panel .product-desc {
  max-width: unset;
}

.panel {
  transition: 0.5s max-height;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  max-height: 0;
}

.accordion-box {
  margin-bottom: 35px;
}

.accordion-mark {
  transition: 0.5s transform;
}

.accordion-box.active .accordion-mark {
  transform: rotate(180deg);
}

.btn-outline-blue {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 345px;
  width: 100%;
  padding: 12px 33px;
  border-radius: 4px;
  border: 1px solid var(--primary-500, #406fdb);
  background: var(--white-white-100, #fff);
}

.btn-outline-blue:hover{
  cursor: pointer;
}

.btn-outline-blue .product-desc {
  color: var(--blue);
}

.contact-box {
  border-radius: 10px;
  border: 1px solid #e6e6e6;
  background: #fff;
  max-width: 746px;
  padding: 43px 37px 51px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-image-container,
.text-image-container {
  display: flex;
  max-width: 1134px;
  width: 100%;
  gap: 32px;
  align-items: end;
  margin: 0 auto 46px;
  padding: 15px;
}

.image-container {
  max-width: 540px;
}

.image-container-tablet {
  display: none;
  width: 100%;
}

.responsive-img {
  max-width: fit-content;
  width: 100%;
}

.text-image-container .product-desc {
  max-width: 549px;
}

.text-image-container {
  align-items: start;
}

.section-leave-number {
  width: 100%;
  background-color: #c6ddff;
}

.leave-number {
  margin: 0 auto 64px;
  width: 100%;
  max-width: 1440px;
  padding: 0 15px;
  display: flex;
}

.leave-number-form {
  width: 50%;
  padding: 32px;
}

.tech-help {
  font-size: 12px;
}

.form-number {
  display: flex;
  width: 100%;
  align-items: center;
}

.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.number-input {
  width: 60%;
  height: 60px;
  border-radius: unset;
  border: none;
  padding: 12px;
  font-size: 16px;
  font-family: Montserrat;
  color: #406fdb;
  font-weight: 600;
}

.number-input::placeholder {
  font-weight: 600;
  color: #406fdb;
  font-size: 16px;
  font-family: Montserrat;
}

.number-submit {
  width: 40%;
  height: 60px;
  border: none;
  border-radius: unset;
  font-size: 16px;
  color: #fff;
  background-color: #406fdb;
  font-weight: 600;
  font-size: 16px;
  font-family: Montserrat;
}

.checkbox-number {
  background-color: #fff;
  font: inherit;
  color: currentColor;
  width: 24px;
  height: 24px;
  border: 1px solid #656565;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

.checkbox-number::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  background-color: #406fdb;
}

.checkbox-number:checked::before {
  transform: scale(1);
}

.checkbox-box {
  margin: 32px 0;
  display: flex;
  width: 100%;
  gap: 16px;
}

.checkbox-box .product-desc {
  max-width: unset;
}

.footer-layout {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1440px;
  padding: 15px;
}

.footer-layout .product-desc {
  max-width: unset;
}

.footer-col {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: fit-content;
  padding: 0 50px;
  margin-bottom: 24px;
}

.footer-col-heading {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 700;
  color: #406fdb;
}

.footer {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.footer-cont {
  max-width: 1440px;
  padding: 15px;
  margin: 0 auto;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.footer-cont .product-desc-md {
  font-size: 14px;
}

.footer .d-f.jc-b {
  border-top: 1px solid #656565;
  width: 100%;
}

.scroll-up {
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #406fdb;
  z-index: 100;
  transform: rotate(180deg);
}

.helpy {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 100px;
}

.right-gif {
  justify-content: end;
}




@media (max-width: 1440px) {
  .img-left {
    left: -500px;
  }
  .img-right {
    right: -500px;
  }
  .footer-col:nth-child(2) {
    border: none;
  }

  .layout-image .image-w100 {
    max-width: unset;
  }
}

@media (max-width: 1024px) {
  .features-box {
    flex-direction: column;
    max-width: 720px;
    margin: 0 auto;
  }

  .column-box {
    max-width: unset;
  }

  .rows-layout {
    max-width: unset;
  }

  .video-heading {
    max-width: 720px;
  }

  .video-heading--section .container {
    max-width: 1024px;
  }

  .row-resp {
    flex-direction: column-reverse;
    align-items: center;
  }

  .row-resp .product-row--desc,
  .row-resp .product-desc {
    text-align: center;
    max-width: unset;
  }

  .ai-c.product-row.rr {
    align-items: center;
  }

  .product-row--desc {
    flex: unset;
    margin-bottom: 150px;
  }

  .img-left {
    left: -450px;
  }

  .img-right {
    right: -500px;
  }

  .layout-text {
    width: 100%;
  }

  .layout-text .product-row--desc.left,
  .layout-text .product-row--desc.right {
    margin: 0 auto;
    max-width: unset;
    text-align: center;
  }

  .layout-text .product-desc {
    max-width: unset;
  }

  .layout-image:nth-child(3) {
    justify-content: end;
  }

  .layout-image:nth-child(2) {
    justify-content: start;
  }

  .accounts-layout {
    max-width: 480px;
    justify-content: center;
  }

  .d-f.gap-12 {
    justify-content: center;
  }

  .helpy {
    flex-direction: column;
  }

  .helpy .layout-image {
    width: 100%;
    margin-bottom: 0;
  }

  .helpy:nth-child(2) {
    flex-direction: column-reverse;
  }

  .layout-image .image-left-gif,
  .layout-image .image-right-gif {
    position: unset;
    margin: 0 auto;
  }

  .helpy .layout-text.mb-255,
  .helpy .layout-text.mb-253 {
    margin-bottom: 100px;
  }

  .helpy:nth-child(1) .layout-text {
    margin-bottom: 100px;
  }

  .canals-section {
    padding-bottom: 100px;
  }

  .section-app {
    padding: 80px 0 0;
  }

  .section-intro {
    padding-top: 0;
  }

  .meevu-intro {
    flex-direction: column;
  }
  .meevu-video-container {
    padding: 15px;
    max-width: unset;
    flex: none;
  }

  .buttons-column {
    padding: 15px;
    width: 100%;
  }

  .bundle-container {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .bundle-box {
    width: calc(50% - 10px);
    justify-content: space-between;
    flex-direction: column;
    padding: 25px 10px;
  }

  .price-summary {
    flex-direction: column;
  }

  .summary-desc {
    text-align: center;
    max-width: unset;
  }

  .summary-desc > .product-desc-md {
    margin-bottom: 29px;
  }

  .summary-col {
    width: 50%;
  }

  .summary-cols {
    gap: 0;
  }

  .overall-price {
    max-width: unset;
  }

  .overall-price .canals-number,
  .overall-price .offer-price {
    text-align: center;
  }

  .column-box--desc {
    text-align: left;
    max-width: 493px;
    top: 50%;
    transform: translate(-20%, -50%);
  }

  .offer-item {
    padding: 20px 10px 40px;
  }

  .section-cta .panels-desc {
    margin-bottom: unset;
  }

  .leave-number {
    flex-direction: column;
    padding: 0;
  }

  .leave-number .responsive-img {
    max-width: unset;
  }

  .leave-number-form {
    width: 100%;
  }

  .image-container {
    display: none;
  }

  .image-container-tablet {
    display: block;
  }

  .image-container-tablet .responsive-img{
    max-width: unset;
    max-height: 500px;
  }

  .add-image-container,
  .text-image-container {
    flex-direction: column;
    width: 100%;
    max-width: unset;
  }

  .add-image-container .product-desc,
  .text-image-container .product-desc{
    max-width: unset;
  }

  .img-left,.img-right{
    display: none;
  }

  .landscape-tablet{
    width: 100%;
    display: block;
    margin: 0 auto;
  }

  .product-desc--section{
    padding-bottom: unset;
  }

  .hidden-animations{
    height: unset;
    text-align: center;
  }
  
  .product-row--img.rr{
    flex: unset;
    min-width: 350px;
  }

  .product-row.rr{
    margin-bottom: 0;
    align-items: center;
  }

  .product-row.rr .product-row--desc{
    padding-top: 0;
    margin-bottom: 0;
  }
}

@media(max-width: 768px){
  .contact-box{
    flex-direction: column;
  }

  .hero-container{
    padding: 0;
  }

  .hero-container .heading-primary{
    padding: 15px;
    font-size: 56px;
    line-height: 60px;
  }

  .column-box--desc{
    width: 100%;
    max-width: unset;
    text-align: center;
    bottom: unset;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  .row-box--desc{
    margin-left: 0;
    text-align: center;
    transform: translate(-50%,-50%);
    left: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .row-box--desc{
    flex-direction: column-reverse;
  }

  .heading-primary{
    font-size: 40px;
    line-height: 60px;
  }
  .video-contaier{
    height: 400px;
  }

  .heading-primary.mb-30{
    margin-top: 100px;
  }
}

@media(max-width:620px){
  .map-position{
    display: none;
  }
  .map-container{
    padding-top: 0;
  }

  .form-box{
    width: 100%;
  }

  .month-btn-container{
    flex-direction: column;
  }

  .month-btn{
    width: 100%;
  }

  .section-cta{
    padding-top: 0;
  }

  .accounts-layout{
    gap: 18px;
  }

  .account-box{
    flex: 0 0 25%;
  }

  .heading-secondary{
    font-size: 40px;
    line-height: 44.5px; 
     word-break: break-word;
  }

  .background-image{
    min-height: 300px;
  }
  .product-row.rr{
    flex-direction: column-reverse;
  }

  .container-offer{
    flex-direction: column;
  }

  .offer-item{
    max-width: unset;
  }
}


@media(max-width:425px){
  .bundle-box{
    width: 100%;
  }

  .video-heading.heading-primary{
    font-size: 40px;
    line-height: 60px;
  }

  .video-container video{
    min-width: 290px;
    max-height: 272px;
  }

  .video-shadow{
    min-width: 290px;
    max-height: 270px;
  }

  .landscape-tablet{
    left: -15px;
    position: relative;
  }

  .product-desc--section{
    padding-top:150px;
  }

  .product-row--img{
    flex: unset;
  }

}

@media(max-width:360px){


}
